n8n/workflows/7-bienvenida-usuario.json
{
    "name": "7. Bienvenida a Nuevos Usuarios",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "new-user-welcome",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook: Nuevo Usuario",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "new-user-welcome"
        },
        {
            "parameters": {
                "fromEmail": "no-reply@tu-inventario.com",
                "toEmail": "={{ $json.body.email }}",
                "subject": "¡Bienvenido al Equipo! - Tus credenciales de acceso",
                "html": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: auto; border: 1px solid #eee; padding: 20px; border-radius: 10px;\">\n  <h2 style=\"color: #10b981;\">¡Hola {{ $json.body.nombre }}!</h2>\n  <p>Has sido registrado como <strong>{{ $json.body.rol }}</strong> en el sistema de inventario.</p>\n  <p>Aquí tienes tus credenciales para acceder:</p>\n  <div style=\"background-color: #f9fafb; padding: 15px; border-radius: 8px; margin: 20px 0;\">\n    <p style=\"margin: 5px 0;\"><strong>Email:</strong> {{ $json.body.email }}</p>\n    <p style=\"margin: 5px 0;\"><strong>Contraseña:</strong> <code>{{ $json.body.password }}</code></p>\n  </div>\n  <p>Puedes iniciar sesión aquí:</p>\n  <div style=\"text-align: center; margin: 30px 0;\">\n    <a href=\"{{ $json.body.login_url }}\" style=\"background-color: #10b981; color: white; padding: 12px 25px; text-decoration: none; border-radius: 5px; font-weight: bold;\">Entrar al Sistema</a>\n  </div>\n  <p style=\"color: #ef4444; font-size: 13px;\">⚠️ Por seguridad, te recomendamos cambiar tu contraseña una vez ingreses al sistema.</p>\n  <hr style=\"border: 0; border-top: 1px solid #eee; margin: 20px 0;\">\n  <p style=\"font-size: 12px; color: #999; text-align: center;\">Este es un correo automático del Sistema de Inventario Inteligente.</p>\n</div>",
                "options": {}
            },
            "id": "send-email",
            "name": "Enviar Email Bienvenida",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 1,
            "position": [
                450,
                300
            ],
            "credentials": {
                "smtp": {
                    "id": "your-smtp-id",
                    "name": "SMTP Account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "text",
                "responseBody": "Email de bienvenida enviado correctamente",
                "options": {}
            },
            "id": "respond-ok",
            "name": "Responder OK",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        }
    ],
    "connections": {
        "Webhook: Nuevo Usuario": {
            "main": [
                [
                    {
                        "node": "Enviar Email Bienvenida",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enviar Email Bienvenida": {
            "main": [
                [
                    {
                        "node": "Responder OK",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {},
    "tags": []
}